[Desktop Entry]
Encoding=UTF-8
Name=Link to chappelle-show-prince-skit-dave-chappelle-billboard-650.jpg (636×421)
Type=Link
URL=https://www.billboard.com/files/styles/article_main_image/public/media/chappelle-show-prince-skit-dave-chappelle-billboard-650.jpg
Icon=image-jpeg
