[Desktop Entry]
Encoding=UTF-8
Name=Link to gty_493520126.jpg (990×1200)
Type=Link
URL=https://usatcollege.files.wordpress.com/2015/12/gty_493520126.jpg?w=990
Icon=image-jpeg
Name[en_US]=khaled Link to gty_493520126.jpg (990×1200)
