[Desktop Entry]
Encoding=UTF-8
Name=Link to Piko-Taro.jpg (488×506)
Type=Link
URL=http://sillyconfusion.com/wp-content/uploads/2016/09/Piko-Taro.jpg
Icon=image-jpeg
