[Desktop Entry]
Encoding=UTF-8
Name=Link to maxresdefault-jpg.18009 (1280×720)
Type=Link
URL=https://www.xpgamesaves.com/attachments/maxresdefault-jpg.18009/
Icon=image-jpeg
Name[en_US]=Piko Taro Link to maxresdefault-jpg.18009 (1280×720)
