[Desktop Entry]
Encoding=UTF-8
Name=Link to prince-07.jpg (1360×1688)
Type=Link
URL=https://www.bellanaija.com/wp-content/uploads/2016/04/prince-07.jpg
Icon=image-jpeg
