[Desktop Entry]
Encoding=UTF-8
Name=Link to www.mtv.com/crop-images/2013/09/11/DJ Khaled.jpg
Type=Link
URL=http://www.mtv.com/crop-images/2013/09/11/DJ%20Khaled.jpg
Icon=text-html
